<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>persons</title>
</head>
<body>
    <h1>all persons</h1>
    <p>{{profile.person_of}}</p>
    <p>{{profile.calorie_count}}</p>
    <p>{{profile.food_selected}}</p>
    <p>{{profile.quantity}}</p>
    <p>{{profile.total_calorie}}</p>
    <p>{{profile.date}}</p>
    <p>{{profile.calorie_goal}}</p>
    <p>{{profile.all_food_selected_today}}</p>
</body>
</html>
    