<!DOCTYPE html>
{% load static %}
<html>
<head>
	
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kcal</title>
  <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

</head>
<body>

  
<nav id="navbar-primary" class="navbar navbar-expand-lg navbar-default active" role="navigation">
  
    <!-- Brand and toggle get grouped for better mobile display -->
 
 <div class="container">
          <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
          <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#resNav"  id='navbar-toggler'>
            <span class="navbar-toggler-icon" id="ham"></span>
          </button>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="resNav">
            <ul class="navbar-nav justify-content-center">
              {% with url_name=request.resolver_match.url_name %}
              <li class="nav-item"><a class="nav-link  {% if url_name == 'home' %} active{% endif %}" href={% url "home" %}>Home</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'profile' %} active{% endif %}" href={% url "profile" %}>Profile</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'add_food' %} active{% endif %}" href={% url "add_food" %}>Add Food</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'select_food' %} active{% endif %}" href={% url "select_food" %}>Select Food</a></li>
              <li class="nav-item"><a class="nav-link" href={% url "resources" %}>Resources</a></li>
              <li class="nav-item"><a class="nav-link" href={% url "shop" %}>Shop</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Logout</a></li>
              {% endwith %}
            </ul>
            </div>
            <!-- /.navbar-collapse -->
      
 </div>
</nav>

<!-- header role="banner" -->
        {% block content %}
        {% endblock content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>