{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="app-title">

        <h1 class="username" class="text-center profile-text mt-2">Your Profile: {{ request.user }} </h1>

    </div>
    <div class="row mt-4 mb-4">
        <div class="profgoal" class="col-lg-5 card card-body">


            <form method="POST" action="" class="login-form pt-4">
                {% csrf_token %}
                {% for field in form %}
                <h1 class="card-title text-center">Calorie Goal For Today</h1>
                <div class="field text-center">{{ field }}
                    {% endfor %}
                    <input class="btn btn-sm btn-info" type="submit" value="select">
                </div>
            </form>
        </div>

        <div >
        <h1 id="all-food" class="text-center headline">Records From Past Week</h1>
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th class="card-title" scope="col">Date</th>

                    <th id="calorie-consumed" class="card-title" scope="col">Calorie Consumed</th>

                    <th class="card-title" scope="col">Calorie Goal</th>
                </tr>
            </thead>
            <tbody >
                {% for record in records %}
                <tr>
                    <td class="food-name" id="fontsize">{{ record.date }}</td>
                    <td id="calorie-consumed" class="add-food" id="fontsize">{{ record.total_calorie }}</td>
                    <td class="add-food" id="fontsize">{{ record.calorie_goal }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>  
   
     
   
     </div>

    </div>
    <h1 id="all-food" class="text-center headline">All Food Items </h1>

    <div class="row mt-5">
        <table class="table text-center">
            <thead>
                <tr>
                    <th class="card-title" scope="col" >Food Name</th>
                    <th class="card-title" scope="col">Calories</th>
                    <th class="card-title" scope="col">Quantity</th>
                    <th class="card-title" scope="col">Update</th>
                    <th class="card-title" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for food in food_items %}
                <tr>
                    <td class="food-name" id="fontsize">{{ food.name }}</td>
                    <td class="add-food" id="fontsize">{{ food.calorie }}</td>
                    <td class="add-food"id="fontsize">{{ food.quantity }}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_food' food.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'delete_food' food.id %}">Delete</a></td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}