{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additional Resources</title>
    <link rel="stylesheet" type="text/css" href="{% static 'resources.css' %}">
</head>

<body >
    <!-- <h1>Additional Resources</h1> -->


 <div class="section-title position-relative text-center ">
                <h1>Check out these additional resources</h1>
        </div>


    <!-- STOP -->


    <div class="allContainer position-relative text-center">
        <div class="card">
            <h4>Estimated Calorie Needs per Day by Age, Gender, and Physical Activity Level.</h4>
            <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617419749/Screen_Shot_2021-04-02_at_8.15.18_PM_iqyfkp.png' alt="Avatar"
                style="max-width:100%">
            <div class="container">
                <p>Estimated amounts of calories as needed to maintain calorie balance for various gender and age groups at three different
                    levels of physical activity. The estimates are rounded to the nearest 200 calories for assignment to a USDA Food Pattern.
                    An individual’s calorie needs may be higher or lower than these average estimates.</p>
            </div>
        </div>
    </div>

    <div class="allContainer">
        <div class="card">
            <h4>Body Mass Index (BMI) Chart for Adults</h4>
            <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617420368/BMI2_r4yyc3.jpg' alt="BMI Chart for Adults"
                style="max-width:100%">
            <div class="container">
                <p></p>
            </div>
        </div>
    </div>


    <div class="allContainer">
        <div class="card">
            <h4>Body Mass Index (BMI) Chart for Adults</h4>
            <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617420368/BMI2_r4yyc3.jpg' alt="BMI Chart for Adults"
                style="max-width:100%">
            <div class="container">
                <p></p>
            </div>
        </div>
    </div>

    <div class="allContainer">
        <div class="card">
            <h4>Body Mass Index (BMI) Chart for Adults</h4>
            <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617420368/BMI2_r4yyc3.jpg' alt="BMI Chart for Adults"
                style="max-width:100%">
            <div class="container">
                <p></p>
            </div>
        </div>
    </div>


</body>