{% extends 'base.html' %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Resources</title>

    <link rel="stylesheet" type="text/css" href="{% static 'resources.css' %}">


</head>

<body >

    <!-- <h1>Additional Resources</h1> -->
    <div class="navbar-header">
        <!-- Brand and toggle get grouped for better mobile display -->
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#resNav"  id='navbar-toggler'>
        <span class="navbar-toggler-icon" id="ham"></span>
      </button>
    </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="resNav">
        <ul class="navbar-nav justify-content-center">
          {% with url_name=request.resolver_match.url_name %}
          <li class="nav-item"><a class="nav-link  {% if url_name == 'home' %} active{% endif %}" href={% url "home" %}>Home</a></li>
          <li class="nav-item"><a class="nav-link {% if url_name == 'profile' %} active{% endif %}" href={% url "profile" %}>Profile</a></li>
          <li class="nav-item"><a class="nav-link {% if url_name == 'add_food' %} active{% endif %}" href={% url "add_food" %}>Add Food</a></li>
          <li class="nav-item"><a class="nav-link {% if url_name == 'select_food' %} active{% endif %}" href={% url "select_food" %}>Select Food</a></li>
          <li class="nav-item"><a class="" href={% url "resources" %}>Resources</a></li>
          <li class="nav-item"><a class="" href={% url "shop" %}>Shop</a></li>
          <li><sub><a href="{% url "logout" %}">Logout</a></sub></li>
          {% endwith %}
        </ul>
        </div>


 <div class="section-title position-relative text-center ">
                <h1>Check out these health resources</h1>
        


    <!-- STOP -->
    <div id="allCards">


        <div class="allContainer position-relative text-center">
            <div class="card">
                <h4 class = "cardheader">Calories for Common Foods</h4>
                <a href="https://www.calories.info/food/fruits"
                target="_blank">
                <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617688341/cals1_abfayy.jpg' alt="BMI Chart for Adults"
                    style="max-width:100%">
                    </a>
                <div class="container">
                    <h6 class = "cardheader"></h6>
                </div>
            </div>
        </div>
    
    
        <div class="allContainer position-relative text-center">
            <div class="card">
                <h4 class = "cardheader">Calories for Common Foods</h4>
                <a href="https://www.calories.info/"
                target="_blank">
                <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617688416/cals2_aysayu.jpg' alt="BMI Chart for Adults"
                    style="max-width:100%">
                    </a>
                <div class="container">
                    <h6 class = "cardheader"></h6>
                </div>
            </div>
        </div>


    <div class="allContainer position-relative text-center">
        <div class="card">
            <h4 class = "cardheader">Estimated Calorie Needs per Day by Age, Gender, and Physical Activity Level.</h4>
            <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617419749/Screen_Shot_2021-04-02_at_8.15.18_PM_iqyfkp.png' alt="Avatar"
                style="max-width:100%">
            <div class="container">
                <h6 class = "cardheader"></h6>
            </div>
        </div>
    </div>

    <div class="allContainer position-relative text-center">
        <div class="card">
            <h4 class = "cardheader">Body Mass Index (BMI) Chart for Adults</h4>
            <a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmi_tbl.htm"
            target="_blank">
            <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617420368/BMI2_r4yyc3.jpg' alt="BMI Chart for Adults"
                style="max-width:100%">
                </a>
            <div class="container">
                <h6 class = "cardheader"></h6>
            </div>
        </div>
    </div>


    <div class="allContainer position-relative text-center">
        <div class="card">
            <h4 class = "cardheader">MyPlate - What’s on your plate?</h4>
            <a href="https://www.myplate.gov/form/myplate-quiz#question_1"
            target="_blank">
            <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617679698/myplate_xxhlrv.jpg' alt="MyPlate"
                style="max-width:100%">
                </a>
            <div class="container">
                <h6 class = "cardheader">Are you making every bite count? Take the quiz to find out and get personalized resources to Start Simple with MyPlate.</h6>
            </div>
        </div>
    </div>


    <div class="allContainer position-relative text-center">
        <div class="card">
            <h4 class = "cardheader">MyPlate - Recipes</h4>
            <a href="https://www.myplate.gov/myplate-kitchen/recipes"
            target="_blank">
            <img id="cardImage" src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617679698/myplate_xxhlrv.jpg' alt="MyPlate"
                style="max-width:100%">
                </a>
            <div class="container">
                <h6 class = "cardheader">Healthy recipes ideas that the whole family will love.</h6>
            </div>
        </div>
    </div>


</div>

</body>
</html>
{% endblock content %}