{% extends 'base.html' %}

{% block content %}
<div class="login mt-0">
    <div class="login-screen">
        <div class="app-title">
            <h1 class="username">Select Food</h1>
        </div>
        <div class="selectsearch">
            <form method="POST" action="" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-sm btn-info" type="submit" value="select">

            </form>
        </div>
    </div>

</div>
<div class="container-fluid">
    <h1 class="addright text-center pb-3">All Food Items </h1>
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th class="card-title" scope="col">Food Name</th>
                <th class="card-title" scope="col">Calories</th>
                <th class="card-title" scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for food in food_items %}
            <tr>
                <td class="food-name">{{ food.name }}</td>
                <td class="add-food">{{ food.calorie }}</td>
                <td class="add-food">{{ food.quantity }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}