{% extends 'base.html' %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop.css' %}">
</head>

<body>

    <div class="navbar-header">
        <!-- Brand and toggle get grouped for better mobile display -->
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#resNav"  id='navbar-toggler'>
        <span class="navbar-toggler-icon" id="ham"></span>
      </button>
    </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="resNav">
        <ul class="navbar-nav justify-content-center">
          {% with url_name=request.resolver_match.url_name %}
          <li class="nav-item"><a class="nav-link  {% if url_name == 'home' %} active{% endif %}" href={% url "home" %}>Home</a></li>
          <li class="nav-item"><a class="nav-link {% if url_name == 'profile' %} active{% endif %}" href={% url "profile" %}>Profile</a></li>
          <li class="nav-item"><a class="nav-link {% if url_name == 'add_food' %} active{% endif %}" href={% url "add_food" %}>Add Food</a></li>
          <li class="nav-item"><a class="nav-link {% if url_name == 'select_food' %} active{% endif %}" href={% url "select_food" %}>Select Food</a></li>
          <li class="nav-item"><a class="" href={% url "resources" %}>Resources</a></li>
          <li class="nav-item"><a class="" href={% url "shop" %}>Shop</a></li>
          <li><a href="{% url "logout" %}">Logout</a></li>
          {% endwith %}
        </ul>
        </div>
        
    <div class="section-title position-relative text-center ">


    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Take your health to another level</h2>
            <p>Get healthy with these resources</p>
          </div>

    <!-- <div class="section-title position-relative text-center ">

        <h1>Take your health to another level</h1>
    </div> -->

    <div id="allCards">

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/Etekcity-ESN00-Nutrition-Counting-Bluetooth/dp/B07FCZSC41/ref=asc_df_B07FCZSC41/?tag=hyprod-20&linkCode=df0&hvadid=309764494680&hvpos=&hvnetw=g&hvrand=5500477973904869141&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9014039&hvtargid=pla-579288546640&psc=1"
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617520494/scale_zfyutt.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>Smart Food Nutrition Scale</b></h4>
                    <p class = "cardheader">$25.94</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=bluetooth+food+scales&ref=nb_sb_noss_2"
                    target="_blank"><h6>Similar Products</h6></a></div>

                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://getfittrack.com/products/fittrack-smart-body-bmi-scale?variant=13603704864841&currency=USD&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gclid=CjwKCAjwx6WDBhBQEiwA_dP8rS-e7D46zkNNHQY7mY2a7j3c-j0UmIhGJ8xlUo0NeN1YoVR3YYOjaRoC7b4QAvD_BwE"
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617576551/scale2_bha0ml.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>BMI Smart Scale - FitTrack</b></h4>
                    <p class = "cardheader">$89.00</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=bluetooth+food+scales&ref=nb_sb_noss_2"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/dp/B08JH9T6G7/ref=sspa_dk_detail_5?psc=1&pd_rd_i=B08JH9T6G7&pd_rd_w=th0CO&pf_rd_p=4269e1a0-a218-4fbd-9748-1cd337d2f2a5&pd_rd_wg=hwaLD&pf_rd_r=YNJ7SJS35RXJAR9JV114&pd_rd_r=b50d1bf1-d33d-4c47-b65a-dc90d2afd2fe&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyOEhRR1FQNjBDUUlDJmVuY3J5cHRlZElkPUEwMjgwODEzMVNVMjdIN0cyOFQ2NiZlbmNyeXB0ZWRBZElkPUEwMzMyNzgyMTlSNFZWMEdQMFdMJndpZGdldE5hbWU9c3BfZGV0YWlsJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617573169/bands_v3t7wj.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>Resistance Bands</b></h4>
                    <p class = "cardheader">$10.99</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=resistance+bands&ref=nb_sb_noss_1"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/Day-Portion-Control-Container-kit/dp/B06XWNN2LB/ref=sr_1_2?dchild=1&keywords=portion+control&qid=1617519157&sr=8-2"
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617519328/81vflekno3L._AC_SX679__yr71m5.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>21 Day Portion Control Container Kit</b></h4>
                    <p class = "cardheader">$25.94</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=Portion+Control+Container+Kit&ref=nb_sb_noss_2"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/Complete-Guide-Carb-Counting-4th/dp/158040684X/ref=sr_1_2_sspa?dchild=1&keywords=pocket+calorie+counter&qid=1617574100&s=books&sr=1-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzM0FCSTdNUjBEUklIJmVuY3J5cHRlZElkPUEwMjM2MzQ1MTRBTkRWMlg2SU1TOSZlbmNyeXB0ZWRBZElkPUEwMTIxNjQ0UU0yQUxQNkRVRzhXJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617574386/book_bwennl.jpg' alt="Avatar"
                        style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>The Complete Guide to Carb Counting</b></h4>
                    <p class = "cardheader">$12.79</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=calorie+counting+books&ref=nb_sb_noss_1"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/Weight-Loss-Vegan-Way-Recipes/dp/1647393442/ref=sr_1_1?dchild=1&keywords=Weight+Loss+the+Vegan+Way%3A+21-Day+Meal+Plan+with+Over+75+Easy+Recipes&qid=1617584002&sr=8-1"
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617584129/book4_xowghy.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>Weight Loss the Vegan Way</b></h4>
                    <p class = "cardheader">$14.66</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=Weight+Loss+the+Vegan+books&ref=nb_sb_noss_2"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/Encyclopedia-Muscle-Strength-Jim-Stoppani/dp/0736057714/ref=sr_1_3?dchild=1&keywords=encyclopedia+of+muscle&qid=1617574831&s=books&sr=1-3"
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617575030/book2_rnzsvm.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>Encyclopedia of Muscle & Strength</b></h4>
                    <p class = "cardheader">$27.43</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=strength+training+books&ref=nb_sb_noss_2"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/Anatomy-Stretching-Second-Illustrated-Rehabilitation/dp/1583943714/ref=asc_df_1583943714/?tag=hyprod-20&linkCode=df0&hvadid=312142103956&hvpos=&hvnetw=g&hvrand=17165030963233545072&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9014039&hvtargid=pla-434237608945&psc=1"
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617577087/book3_uo42eb.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>The Anatomy of Stretching</b></h4>
                    <p class = "cardheader">$23.49</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=stretching+books&ref=nb_sb_noss_1"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/3DFitBud-Counter-Walking-Pedometer-Lanyard/dp/B07DWH8VNR/ref=sr_1_3?dchild=1&keywords=pedometer&qid=1617521457&s=hpc&sr=1-3"
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617521576/pedometer_fqx1cu.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>Step Counter Walking 3D Pedometer</b></h4>
                    <p class = "cardheader">$24.99</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=pedometer&ref=nb_sb_noss_1"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/Fitbit-Fitness-Activity-Graphite-Included/dp/B07FTN21JL"
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617520441/fitbit_twooys.jpg'
                        alt="Avatar" style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>Fitbit Charge 3 Fitness Activity Tracker</b></h4>
                    <p class = "cardheader">$164.99</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=smart+watch&ref=nb_sb_noss_2"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://www.amazon.com/dp/B08C1PRGRR/ref=sspa_dk_detail_0?psc=1&pd_rd_i=B08C1PRGRR&pd_rd_w=iA9ai&pf_rd_p=4269e1a0-a218-4fbd-9748-1cd337d2f2a5&pd_rd_wg=gXnCh&pf_rd_r=NYFJP6WXZ131QT64DAK7&pd_rd_r=35c455ad-7548-40ac-8cbf-571c5b6e5245&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFSWDNCSVpXWFBKRkYmZW5jcnlwdGVkSWQ9QTA1NjE5NzUzOE9UTE9GQjU0TkNVJmVuY3J5cHRlZEFkSWQ9QTAzNDY0NTExMElMRlpMRjVOV1RVJndpZGdldE5hbWU9c3BfZGV0YWlsJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="
                    target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617521910/h20_fxx8ae.jpg' alt="Avatar"
                        style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>Smart Water Bottle</b></h4>
                    <p class = "cardheader">$59.99</p>
                    <div><a class="similar" href="https://www.amazon.com/s?k=bluetooth+water+bottles&crid=1ZDFI5QRZDYKG&sprefix=bluetooth+water+%2Caps%2C205&ref=nb_sb_ss_ts-doa-p_1_16"
                        target="_blank"><h6>Similar Products</h6></a></div>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <a href="https://fitnesstrainer.com/" target="_blank">
                    <img id="cardImage"
                        src='https://res.cloudinary.com/dvzw25pxu/image/upload/v1617583215/exc_mpkfgk.jpg' alt="Avatar"
                        style="max-width:100%">
                </a>
                <div class="container">
                    <h4 class = "cardheader"><b>Personal Training Near You!</b></h4>
                    <p class = "cardheader">Prices vary.</p>

                </div>
            </div>
        </div>


    </div>

</body>

</html>
{% endblock content %}