{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop.css' %}">
</head>

<body>
    <div id="allCards">
        <div class="allContainer">
            <div class="card">
                <img id="cardImage" src='https://www.w3schools.com/howto/img_avatar.png' alt="Avatar"
                    style="max-width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <img id="cardImage" src='https://www.w3schools.com/howto/img_avatar.png' alt="Avatar"
                    style="max-width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <img id="cardImage" src='https://www.w3schools.com/howto/img_avatar.png' alt="Avatar"
                    style="max-width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <img id="cardImage" src='https://www.w3schools.com/howto/img_avatar.png' alt="Avatar"
                    style="max-width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <img id="cardImage" src='https://www.w3schools.com/howto/img_avatar.png' alt="Avatar"
                    style="max-width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <img id="cardImage" src='https://www.w3schools.com/howto/img_avatar.png' alt="Avatar"
                    style="max-width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <img id="cardImage" src='https://www.w3schools.com/howto/img_avatar.png' alt="Avatar"
                    style="max-width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>

        <div class="allContainer">
            <div class="card">
                <img id="cardImage" src='https://www.w3schools.com/howto/img_avatar.png' alt="Avatar"
                    style="max-width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>